.clockContainer{
    text-align: center;
    font-size: 9rem;
    font-weight: bolder;
    width: 60%;
    height: 15%;
    margin-top: 180px;
    font-family: monospace;
    text-shadow: 6px 2px 6px #6c6b6b;
    color: rgba(45, 44, 44, 0.915);  
}

.clockContainer button{
    font-size: 18px;
    position:fixed;
    bottom: 20px;
    right: 20px;
    padding: 10px 20px;
    border-radius: 6px;
    border: none;
    font-weight: bold;
    background-color: #f8f4db;
}

.clockContainer button a{
    color: black;
    text-decoration: none;
}