.container{
    width: 30%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-wrap: wrap;
    color: rgba(22, 22, 22, 0.915);  
}

.container h1{
    font-size: 52px;
}

.container h3{
    text-align: center;
    font-size: 50px;
    font-family: monospace;

}

.btns{
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.container button{
    font-weight: 600;
    cursor: pointer;
    border: none;
    border-radius: 6px;
    font-size: 18px;
    padding: 8px 24px;
    margin: 0 5px;
}

.startBtn{
    background-color: rgb(77, 242, 77);
}

.stopBtn{
    background-color: rgb(242, 77, 77);
}

.resetBtn{
    background-color: rgb(100, 227, 246);
}

.backBtn{
    position:fixed;
    bottom: 20px;
    right: 20px;
    padding: 10px 10px;
    border-radius: 6px;
    border: none;
    font-weight: bold;
    background-color: #f8f4db;
}

.backBtn a{
    color: black;
    text-decoration: none;
}